h1 {
    font-style: italic;
    text-align: center;
}

.favorite-website {
    color: lightseagreen;
}

div.developer {
    width: 230px;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
  }

.foods {
    border-style: solid;
    border-color: green;
    border-radius: 25px;
    text-align: center;
    width:500px;
    padding: 10px;
    margin: 50px;
}